<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31089423786-6c46n2kl9a4n0rdcqinc4i1rs4itdbng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31089423786-6c46n2kl9a4n0rdcqinc4i1rs4itdbng</string>
	<key>API_KEY</key>
	<string>AIzaSyCpaCfqHFmsB59a2uH5yhxPqF5Bm5xOFig</string>
	<key>GCM_SENDER_ID</key>
	<string>31089423786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ozod.wallet.ozodwallet</string>
	<key>PROJECT_ID</key>
	<string>ozod-finance</string>
	<key>STORAGE_BUCKET</key>
	<string>ozod-finance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31089423786:ios:3dee8dc48715b314fd27d3</string>
</dict>
</plist>